

/* Custom */


.header-main .main-menu ul li a{

    font-size: 14px !important;
    font-weight: 700;
    text-transform: uppercase !important;
  }
  
  .theme-btn.red-btn {
    background-color: #e12b07 !important;
  }
  .point-table{
   width: 100%;
   text-align: left !important;
  }
  .point-table img{
    width: 5%;
   }
  .mycustom-marque.header-marque.theme-blue-bg{

    background-color: #000283 !important;
  }

  .team-details-wrapper.custom{

    margin-top: 0px !important;
  }

  
.team-details-wrapper .team-details-items .team-details-content .details-list::before {
  display: none;
}

.team-details-wrapper .team-details-items .team-details-content .details-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
    margin-top: 30px;
    position: relative;
    background: #000283;
    color: white;
    text-align: center;
    font-weight: 900 !important;
    border-radius: 10px;
}

.team-details-wrapper .team-details-items .team-details-content .details-list li {
  font-weight: 600 !important;
}

