

/* Custom */


.header-main .main-menu ul li a{

    font-size: 14px !important;
    font-weight: 700;
    text-transform: uppercase !important;
  }
  
  .theme-btn.red-btn {
    background-color: #da1900 !important;
  }
  .point-table{
   width: 100%;
   text-align: left !important;
  }
  .point-table img{
    width: 10%;
   }
  .mycustom-marque.header-marque.theme-blue-bg {

    background-color: #000283 !important;
  }

  .event-list-wrapper .event-list-items .event-content .content .date{
    background-color: #000283;
  }

  .event-list-wrapper .event-list-items .event-content .content .date:hover, .back-to-top{
    background-color: #da1900;
  }
  .back-to-top:hover{
    background-color: #000283;
  }
  .event-list-wrapper .event-list-items:hover .event-content .content .date {
    background-color: #da1900;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Sora", system-ui;
  margin: 0px;
  padding: 0;
  color: #000283;
}

.section-title h6, .section-title .h6{
  color: #da1900;
}
.header-1 .header-right .header-button .theme-btn:hover{
  background-color: #000283 !important;
}

  .news-right-items .news-right-box .thumb{

    max-width: 240px !important;
  }
  .news-left-items .news-thumb .post-box {
    background-color: #000283;
}

.news-right-items .news-right-box .thumb .post-box{
  background-color: #000283;
}

.news-right-items .news-right-box .content h5 a, .news-right-items .news-right-box .content .h5 a{
  background-image: linear-gradient(#000283, #000283);
}

.news-right-items .news-right-box .content h5 a:hover, .news-right-items .news-right-box .content .h5 a:hover {
  background-size: 100% 2px;
  color: #000283;
}

.news-right-items .news-right-box .content .link-btn:hover{
  color: #000283;
}
.news-left-items .news-content .link-btn:hover {
  color: #000283;
}

.news-left-items:hover {
  box-shadow: 10px 4px 30px #50505026;
}

.news-left-items::before{
  border-top: 1px solid #000283;
  border-left: 1px solid #000283;
}

.news-left-items .news-content .link-btn{

  margin-top: 0px;
}


.footer-bg {
  background-color: #da1900;
}

.breadcrumb-wrapper {
  background: linear-gradient(to bottom, #000283 10%, rgba(0, 2, 131, 0.5) 70%), 
              url(/assets/img/breadcrumb/breadcrumb.jpg);
  background-position: center;
  height: 400px;
  background-size: cover;
}

.breadcrumb-wrapper::before{
  position: relative;
}
.breadcrumb-wrapper .page-heading{
  padding: 150px 0 100px;
}

.team-details-wrapper{
  margin-top: 0px;
}

.team-details-wrapper .team-details-items .team-details-content .details-list::before{
  display: none;
}


ul.details-list {
  background: #000283;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #00000070;
}

.team-details-wrapper .team-details-items .team-details-content .details-list li {
  font-weight: 600;
}

.team-details-wrapper .team-details-items .team-details-content span {
  font-size: 18px;
  font-weight: 400;
  background: #da1900;
  color: white;
  padding: 5px;
  border-radius: 5px;
}


.team-details-wrapper{
  box-shadow: 10px 4px 60px 0px rgba(189, 189, 189, 0.25);
  margin: 20px 0px;
    padding: 10px 10px 10px;
}

.section-padding{
  padding: 40px 0;
}


.statuslive{
  font-size: 10px;
    background: #da1900;
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
}
.statusupcoming{
  font-size: 10px;
    background: #000283;
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
}

.statuscompleted{
  font-size: 10px;
    background: black;
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
}

.result-btn{
  background: #da1900 !important
}

@media (max-width: 767px) {
  .event-list-wrapper .event-list-items .event-content .content .title-text .post-time {
      flex-wrap: wrap;
      gap: 10px !important;
  }
  .point-table img{
    width: 20% !important;
   }
   .team-row{
    min-width: 200px !important;
   }

   .news-right-items .news-right-box .thumb {
    max-width: 100% !important;
}
.team-details-wrapper .team-details-items .team-details-content .details-list{
  padding: 10px !important;
}
}